{% block body %}
    <div class="row">
        <div class="col-lg-12", style="text-align: center;">
            <h1>Homepage Delete</h1>
            <br>
            <a href={{"/xbartamartin/edit"}}>Edit</a>
            <br><br>
            <a href={{"/xbartamartin/detail"}}>Detail</a>
            <br><br>
            <a href={{"/xbartamartin/new"}}>New</a>
            <br><br>
            <a href={{"/xbartamartin"}}>Zpet na UserHomepage</a>
            <br><br>
            <br><br>
            <a href={{"/"}}>Zpet na Homepage</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
