{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <p>{{ id }}</p>
            {# o hodne horsi nez late testujeme zda je to mozne iterovat #}
            {% if data is iterable %}
                <ul>
                    {% for key, value in data %}
                        <li>{{ key }}: {{ value }}</li>
                        {# to je nejaky iterator #}
                        {% if loop.last %}
                            <hr style="border: 1px solid red">
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            <a href="{{ path('homepage_detail') }}">Homepage detail</a>
            <a href="{{ path('homepage_form_test') }}">Homepage form test</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}