<footer id="footer">
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-unstyled">
                <li class="float-end"><a href="{{ path('homepage_default') }}">Back to top</a></li>
                <li><a href="{{ path('homepage_default') }}">Footer 1</a></li>
                <li><a href="{{ path('homepage_default') }}">Footer 2</a></li>
                <li><a href="{{ path('homepage_default') }}">Footer 3</a></li>
                <li><a href="https://github.com/thomaspark">Footer 4</a></li>
                <li><a href="{{ path('homepage_default') }}">Footer 5</a></li>
                <li><a href="{{ path('homepage_default') }}">Footer 6</a></li>
            </ul>
            <p>Made by <a href="{{ path('homepage_default') }}">Symfony template</a>.</p>
            <p>Code released under the <a href="{{ path('homepage_default') }}">Symfony template</a>.</p>
            <p>Based on <a href="{{ path('homepage_default') }}" rel="nofollow">
                    Bootstrap</a>. Icons from <a href="{{ path('homepage_default') }}" rel="nofollow">Symfony template</a>.
                    Web fonts from <a href="{{ path('homepage_default') }}" rel="nofollow">Symfony template</a>.</p>
        </div>
    </div>
</footer>